
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Try</title>
    <link href="/content/style.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.js"></script>
    <script src="app/lib/angular-route.js"></script>
    <script src="app/lib/angular-animate.js"></script>
    <script src="app/app.js"></script>
<body>
    <!-- ng-init="names=['Juan', 'Helen']" -->
    <!--<input type="text" ng-model="name" placeholder="Enter your name!">
     <p>My name is {{name}}</p>
    <p>{{numbers[0] * numbers[2]}}</p> 
    <ul>
        <li ng-repeat="name in names">{{name}}</li>
    </ul> -->
    <!-- ----------------------------------------- -->
    <header ng-include="'header.html'"></header>
    <!-- ----------------------------------------- -->
    <main ng-view></main>

</body>
</html>